:root {
  --font: "Roboto Mono", sans-serif;
  --text-color: white;
  --container-color: rgb(0, 0, 0, 0.2);
  --primary-color: #6da796;
  --secondary-color: #5c985d;
  --tertiary-color: #001d28;
}

* {
  font-family: var(--font);
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--tertiary-color);
  height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  text-align: center;
}

label {
  display: none;
}

#mode {
  display: none;
}

#word-display {
  font-size: 1.7em;
  padding: 2%;
  height: 90%;
  margin-inline: 20vw;
  text-align: justify;
  padding-inline: 3%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.27);
  border-radius: 20px;
  backdrop-filter: blur(7.5px);
}

#input-field {
	display: none;
}